<% provide(:title, 'Practice') %>
<div id="wrap">
  <div id="content" class="bp-padbottom">

    <div class="container bp-push-60">
      <div class="row">
        <div class="span6">
          <% if @code.nil? %>
            <div id="editor"># Type code here, then click Evaluate.</div>
          <% else %>
            <div id="editor"><%= @code %></div>
          <% end %>
          <%= form_for(@practice, url: practice_url, remote: true) do |f| %>
            <div class="field">
                <%= f.text_area :code %>
            </div>
            <div class="pull-right">
              <%= f.submit "Evaluate", class: "btn btn-large btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="span6">
          <pre id="result" class="stupidly-plain"><%= @code_output %></pre>
          <pre id="example_code" class="prettyprint lang-rb">
class Speak
  # Say hello to 'name'
  def self.say_hello(name)
    @name = name
    params = {greeting: "Hello", name: name}
    puts "#{params[:greeting]}, #{@name}"
  end
end

Speak.say_hello("Sam")
          </pre>
        </div>
      </div>
    </div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night_bright");
    editor.getSession().setMode("ace/mode/ruby");
    var textarea = $('textarea#practice_code').hide();
    $('.new_practice').on('submit', function () {
        textarea.val(editor.getSession().getValue());
    });
</script>
  </div>
</div>

