<body onload="prettyPrint()">
<% provide(:title, 'Practice') %>
<h1>Practice</h1>
<div id="wrap">
  <div id="content" class="bp-padbottom">

    <div class="container bp-push-60">
      <div class="row">
        <div class="span6">
          <%= form_for(@practice, url: practice_url) do |f| %>
            <div class="field">
              <% if @code.nil? %>
                <%= f.text_area :code, tabindex: "1", spellcheck: "false",
                                       placeholder: "Type code here, then click Evaluate." %>
              <% else %>
                <%= f.text_area :code, tabindex: "1", spellcheck: "false" %>
              <% end %>
            </div>
            <div class="pull-right">
              <%= f.submit "Evaluate", class: "btn btn-large btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="span6">
          <pre id="result" class="stupidly-plain"><%= @code_output %></pre>
          <pre id="example_code" class="prettyprint lang-rb">
# Say hello to 'name'
def say_hello(name)
  puts "Hello, #{name}"
end

say_hello("Sam")
          </pre>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $('textarea').autosize();
        $('textarea')[0].focus();
      });
    </script>
  </div>
</div>

